{% extends 'base.html' %}
{% block title %}Plant Questionnaire Home{% endblock %}

{% block body %}
<form action="/plant-recommends">
    Choose a lighting condition:
    <input type="radio" name="lighting" value="1">
    <label>Low Light</label>
    <input type="radio" name="lighting" value="2">
    <label>Medium Light</label>
    <input type="radio" name="lighting" value="3">
    <label>Bright Light</label>

    Choose a window direction:
    <select name="location">
        <option value="1">North Facing</option>
        <option value="2">East Facing</option>
        <option value="3">South Facing</option>
        <option value="4">West Facing</option>
    </select>>


    <input type="submit">
</form>
{% endblock %}