{% extends 'base.html' %}

{% block title %}My Greenhouse{% endblock %}

{% block body %}
  <h1>My <b class="greens">Green</b>house</h1>
{% if plants_added %}
  <ul>
    {% for profile in plants_added %}
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
    <div class="col-md-5">
    <p>
    <img id="fill" src="{{ profile.plant.pic_src }}">
    </p>
    </div>
    <div class="col-md-7">
    <div class="card-body">
    <p>
    {{ profile.plant.plant_name }}
    </p>
      <form action="/remove-plant" method="POST">
      <input id="plant-id" name="plant-id" type="hidden" value="{{ profile.plant_profile_id }}" >
      <button type="submit" class="bggreens">Remove from greenhouse</button>
      </form>
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

