{% extends 'base.html' %}

{% block title %}Recommended Plants{% endblock %}

{% block body %}
    <h1 id="plantstitle">Recommended <b class="greens">Plants</b></h1>
    <div class="row">   
        {% for plant in plant_recommends %}
        <div class="col-md-3">
        <li>
        <a href="/plants/{{ plant.plant_id }}">
        {{ plant.plant_name }}
        </div>
        <div class="col-md-2">
        <img src = "{{ plant.pic_src }}" >
        </a>
        </li>
        </div>
        {% endfor %}
    </div>
{% endblock %}
