{% extends 'base.html' %}
{% block title %}All Plants{% endblock %}

{% block body %}
    <h1 id="plantstitle">All <b class="greens">Plants</b></h1>
    <div class="row">   
    {% for plant in plants %}
    <div class="col-md-3">
        
            <li>
                <a href="/plants/{{ plant.plant_id }}">
                {{ plant.plant_name }}
                </div>
                <div class="col-md-2">
               <img src = "{{ plant.pic_src }}" >
                </a>
            </li>
        
    </div>
            {% endfor %}
        </div> 
            
            {% endblock %}

            <!-- <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div> -->