{% extends 'base.html' %}
{% block title %}Recommended Plants{% endblock %}

{% block body %}
    <h1>Recommended Plants</h1>
    <div class="row">   
        {% for plant in plant_recommends %}
        <div class="col-md-2">
        <li>
            <a href="/plants/{{ plant.plant_id }}">
            {{ plant.plant_name }}
        </div>
        <div class="col-md-4">
           <img src = "{{ plant.pic_src }}" >
            </a>
        </li>
    </div>

        {% endfor %}
    </div>
        {% endblock %}
