{% extends 'base.html' %}

{% block title %}{{ plant.plant_name }} - Details{% endblock %}

{% block body %}
<h1>{{ plant.plant_name }}</h1>

<p>
  {{ plant.plant_description }}
</p>
<p>
    {{ plant.lighting.plant_lighting }}
</p>
<p>
    {{ plant.location.plant_location }}
</p>
<img src="{{ plant.pic_src }}">

<form action="/profile" method="POST">

       {# TODO #}

  <input id="plant-id" name="plant-id" type="hidden" value="{{ plant.plant_id }}" >     {# make sure this is actually how hidden imputs are formatted #}
  <button type="submit">Add to profile</button>
</form>

{% endblock %}




