{% extends 'base.html' %}
{% block title %}My Greenhouse{% endblock %}

{% block body %}
  <h1>Plant Profile</h1>
{% if plants_added %}
  <ul>
    {% for profile in plants_added %}
    <p>
    {{ profile.plant.plant_name }}
    </p>
    <p>
      {{ profile.plant.plant_name }}
      </p>

    {% endfor %}
    {% endif %}
  </ul>
  
  <form action="/remove-plant" method="POST">

    {# TODO #}

<input id="plant-id" name="plant-id" type="hidden" value="{{ plant.plant_id }}" >     {# make sure this is actually how hidden imputs are formatted #}
<button type="submit">Remove from profile</button>
</form>
{% endblock %}